CPRG255.FinalProject.InlandMarina/Connected Services/InlandMarinaWcfService/MarinaService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/CPRG255.FinalProject.Domain" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/CPRG255.FinalProject.Domain" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfBoat">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Boat" nillable="true" type="tns:Boat" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBoat" nillable="true" type="tns:ArrayOfBoat" />
  <xs:complexType name="Boat">
    <xs:sequence>
      <xs:element minOccurs="0" name="CustomerID" type="xs:int" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="Length" type="xs:int" />
      <xs:element minOccurs="0" name="Manufacturer" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ModelYear" type="xs:int" />
      <xs:element minOccurs="0" name="RegistrationNumber" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Boat" nillable="true" type="tns:Boat" />
  <xs:complexType name="Customer">
    <xs:sequence>
      <xs:element minOccurs="0" name="Authorize" nillable="true" type="tns:Authorize" />
      <xs:element minOccurs="0" name="Boat" nillable="true" type="tns:Boat" />
      <xs:element minOccurs="0" name="City" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FirstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="LastName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Phone" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Customer" nillable="true" type="tns:Customer" />
  <xs:complexType name="Authorize">
    <xs:sequence>
      <xs:element minOccurs="0" name="Customer" nillable="true" type="tns:Customer" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Authorize" nillable="true" type="tns:Authorize" />
  <xs:complexType name="ArrayOfCustomer">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Customer" nillable="true" type="tns:Customer" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCustomer" nillable="true" type="tns:ArrayOfCustomer" />
  <xs:complexType name="ArrayOfDock">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Dock" nillable="true" type="tns:Dock" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDock" nillable="true" type="tns:ArrayOfDock" />
  <xs:complexType name="Dock">
    <xs:sequence>
      <xs:element minOccurs="0" name="ElectricalService" type="xs:boolean" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="LocationId" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="WaterService" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Dock" nillable="true" type="tns:Dock" />
  <xs:complexType name="ArrayOfLeaseType">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="LeaseType" nillable="true" type="tns:LeaseType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfLeaseType" nillable="true" type="tns:ArrayOfLeaseType" />
  <xs:complexType name="LeaseType">
    <xs:sequence>
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StandardRateAmount" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LeaseType" nillable="true" type="tns:LeaseType" />
  <xs:complexType name="ArrayOfLocation">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Location" nillable="true" type="tns:Location" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfLocation" nillable="true" type="tns:ArrayOfLocation" />
  <xs:complexType name="Location">
    <xs:sequence>
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Location" nillable="true" type="tns:Location" />
  <xs:complexType name="ArrayOfSlip">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Slip" nillable="true" type="tns:Slip" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSlip" nillable="true" type="tns:ArrayOfSlip" />
  <xs:complexType name="Slip">
    <xs:sequence>
      <xs:element minOccurs="0" name="DockID" type="xs:int" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="Length" type="xs:int" />
      <xs:element minOccurs="0" name="Width" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Slip" nillable="true" type="tns:Slip" />
</xs:schema>